<div class="col-12 col-md-6 offset-md-3 pt-2">
    <div class="form-floating">
        {{ form.new_password1 }}
        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
    </div>
</div>
<div class="col-12 col-md-6 offset-md-3 pt-2">
    {{ form.new_password1.help_text|safe }}
</div>
{% if form.new_password1.errors %}
    <div class="col-12 col-md-6 offset-md-3 pt-2 text-danger">
        {{ form.new_password1.errors }}
    </div>
{% endif %}
<div class="col-12 col-md-6 offset-md-3 pt-2">
    <div class="form-floating">
        {{ form.new_password2 }}
        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
    </div>
</div>
{% if form.new_password2.errors %}
    <div class="col-12 col-md-6 offset-md-3 pt-2 text-danger">
        {{ form.new_password2.errors }}
    </div>
{% endif %}