{% extends 'base/base.html' %}
{% block page_title %}Enter new password{% endblock %}

{% block content %}
    <div class="container py-4">
        {% if valid_link %}
        <div class="row">
            <h1>Set a new password!</h1>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                {% include 'users/password_management/password_reset_part.html' %}
                <div class="col-12 col-md-6 offset-md-3 pt-2">
                    <input type="submit" class="btn btn-primary pt-2" value="Change my password">
                </div>

            </form>
        </div>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}